<!DOCTYPE html>
<html>
<head>
  <title>Boxy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p> <%= curl_get_example %> </p>

<p> <%= curl_post_example %> </p>
<%= yield %>

</body>
</html>
